header{
    background-color: red;
    padding: 30px;
    text-align: center;
}
header h1{
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    border: 3px solid white;
    padding: 5px 6px;
    display: inline-block;
    border-radius: 50px;
    background-color: black;

}
nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: gold;
}
nav li{
    float: left;
    display:inline-block;
    padding: 20px 25px;
}
nav li:hover{
    color: white;
}
section{
    background-color: lightgreen;
    border-radius: 10px;
    border: 2px solid black;
    margin: 10px 15px 10px 15px;
    padding: 20px;

}
section h1{
    text-align: center;
    color: darkblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
section p1{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}
article {
    width: 500px ;
    margin: auto;
    border: 2px solid black;


}
article h1{
    color: darkblue;
     text-align: center;
}
article p1{
    color: black;
    text-align: center;
    margin:10px;
}
footer{
    background-color: grey;
    text-align: center;
    padding: 5px;
}